

#login{
  margin-left: 20px;
  max-width: 300px;
  margin: 50px auto;
}

#chat{
    margin: 50px auto;
 
    width: 300px;
}

#send{
    
    font-size: 0.8rem;
}


  li{
    
    text-align: center;
    color: white;
     width: 330px;
    list-style: none;
    margin: 50px auto;
    border-radius:0px  50px 50px 50px ;
    box-shadow: 2px 3px 4px rgb(128, 0, 0);
    padding-top: 3px;
  }
 li:nth-last-of-type(odd){
    background-color:rgb(95, 233, 226);
  }
  li:nth-last-of-type(even){
    background-color: rgb(85, 156, 238);
  }
  strong{
    color:rgb(255, 166, 0);
  }
  nav{
    margin-top: -25px;
  }

  #msg{
    width: 300px;
    
    height: 30px;
    text-align: center;
    
  }
  @media all and (max-width:340px) {
    
    #chat{
      width:250px
    }
    li{
      width:280px
    }
    
  }
  @media all and (max-width:280px) {
    
    #chat{
      width:200px
    }
    
  }

  @media all and (max-width:280px) {
    
    
    li{
      width:220px
    }
  }